# Byte-compiled / optimized / Python files
__pycache__/
*.py[cod]
*$py.class

# OS artifacts
.DS_Store
Thumbs.db

# Vercel
.vercel

# Local environment & editors
.env
.env*.local
.vscode/
.cursor/
.env*
